$primary: #D4AF37; // Thats a sample how you could change a BootStrap variable.
// $secondary: #ffffff;
// $secondary-500: #a6adbb;
// $accent: #faa61a;
// $text: #1b2d45;


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-family: 'Poppins', sans-serif;
$fw-regular: normal;
$fw-bold: bold;


// Media queries
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;